html, body {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: sans-serif;
}

h4, h3, p, input, select, ul {
    margin: 0;
    margin-bottom: 7px;
}

.view {
    padding: 10px;
}

footer {
    padding: 10px;
}

.canv {
    display: flex;
}

.canv-controls {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 0.9em;
}

footer {
    font-size: 0.9em;
}

.credits {
    font-size: 0.85em;
}

.credits p {
    margin: 0;
}

.credits ul {
    margin: 0;
    padding-left: 10px;;
}