html, body {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: sans-serif;
}

h4, h3, p, input {
    margin: 0;
    margin-bottom: 7px;
}

.view {
    padding: 10px;
}

footer {
    padding: 10px;
}

.canv {
    display: flex;
}

.canv-controls {
    display: flex;
    flex-direction: column;
    padding: 10px;
}