html, body, h4, h3 {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}
  
main, footer {
    padding: 10px;
}

.overlay-controls {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 10px;
  margin-bottom: 10px;
}